body{
	background-color: #46D2BF;
}
#header{
	
	margin: 10px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	background-color: #46D2BF;
}
#content{
margin: 10px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	background-color: #46D2BF;
}
#footer{
	margin: 10px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
	background-color: #46D2BF;

}